server:
  port: 9090

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/restaurante_db
    username: postgres
    password: Lopez2003
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
logging:
  level:
    com.restaurante: DEBUG
